<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="{{ site.url }}{% if lang != 'en' %}{{ lang }}{% endif %}/blog/pretty-feed.xsl" type="text/xsl"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    {%- if collection startswith "bloglet" -%}
      {% assign feed_url = site.url | append: permalink %}
    {%-  elsif lang == "en" -%}
      {% assign feed_url = site.url | append: "/blog/feed.xml" %}
    {%- else -%}
      {% assign feed_url = lang | append: "/blog/feed.xml" | prepend: "/" | prepend: site.url %}
    {%- endif -%}
    {{- content | rtrim }}
    <link>{{ feed_url }}</link>
    <atom:link href="{{ feed_url }}" rel="self" type="application/rss+xml" />
    <lastBuildDate>{{ collections[collection] | lastDate | date: "%a, %d %b %Y %H:%M:%S %z" }}</lastBuildDate>
    {%- for post in collections[collection] reversed | slice: 0, 10 %}
      {% if collection contains "bloglet" -%}
        {% assign post_url = post.data.url %}
      {%- else -%}
        {% assign post_url = site.url | append: post.url %}
      {%- endif %}<item>
        <title>{{ post.data.title }}</title>
        <link>{{ post_url }}</link>
        <description>{{ post.templateContent | intro | xml_escape }}</description>
        <pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
        <dc:creator>{{ users[post.data.author].name }}</dc:creator>
        <guid isPermaLink="true">{{ post_url }}</guid>
      </item>
    {%- endfor %}
  </channel>
</rss>
